<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>
<div class="container">
  <div class="row mt-5">
    <h1>Home Page</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eum animi, odit delectus et voluptate impedit rerum hic possimus. Alias, eveniet dolorem ducimus deserunt asperiores unde minus pariatur aspernatur expedita veritatis dolores neque assumenda corporis optio iste est obcaecati reprehenderit libero odit fuga ratione esse.</p>

  </div>
</div>
<%- include('./partials/footer.ejs')%>
